@import "tailwindcss";

@theme {
  --color-*: initial;

  /* =====================================================
     PRIMARY
     ===================================================== */

  --color-primary-main: #ebc80e;
  --color-on-primary: #000000;

  /* =====================================================
     SECONDARY
     ===================================================== */

  --color-secondary-main: #000000;
  --color-on-secondary: #ffffff;

  /* =====================================================
     LINK
     ===================================================== */

  --color-link-main: #0072bf;

  /* =====================================================
     SCROLLBAR
     ===================================================== */

  --color-scrollbar: rgb(172, 172, 172);
  --color-scrollbar-hover: rgb(158, 158, 158);

  /* =====================================================
     BACKGROUND / SURFACE
     ===================================================== */

  --color-background: #f7f7f7;
  --color-background-high: #fff;
  --color-surface-main: #efefef;
  --color-surface-high: #e4e4e4;
  --color-surface-inverse: #121212;

  /* =====================================================
     TEXT
     ===================================================== */

  --color-text-headings: rgba(0, 0, 0, 0.92);
  --color-text-body-high: rgba(0, 0, 0, 0.78);
  --color-text-body: rgba(0, 0, 0, 0.7);
  --color-text-body-low: rgba(0, 0, 0, 0.55);
  --color-text-disabled: rgba(0, 0, 0, 0.42);

  /* =====================================================
     STATES
     ===================================================== */

  --color-success-main: #2e7d32;
  --color-on-success: #ffffff;

  --color-error-main: #d32f2f;
  --color-on-error: #ffffff;

  /* =====================================================
     BORDER / DIVIDER
     ===================================================== */

  --color-divider: rgba(0, 0, 0, 0.12);
  --color-border-main: rgba(0, 0, 0, 0.16);
  --color-border-low: rgba(0, 0, 0, 0.28);
  --color-border-high: rgba(0, 0, 0, 0.5);

  /* =====================================================
     TRANSITIONS
     ===================================================== */

  --transition-duration-fast: 150ms;
  --transition-duration-normal: 250ms;
  --transition-duration-slow: 400ms;

  /* =====================================================
    FONTS
    ===================================================== */

  --font-headings: Poppins, serif;
  --font-body: Inter, monospace;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

[data-theme="dark"] {
  /* =====================================================
     PRIMARY
     ===================================================== */

  --color-primary-main: #ebc80e;
  --color-on-primary: #000000;

  /* =====================================================
     SECONDARY
     ===================================================== */

  --color-secondary-main: #ffffff;
  --color-on-secondary: #000000;

  /* =====================================================
     LINK
     ===================================================== */

  --color-link-main: #0098ff;

  /* =====================================================
     SCROLLBAR
     ===================================================== */

  --color-scrollbar: rgb(80, 80, 84);
  --color-scrollbar-hover: rgb(100, 100, 104);

  /* =====================================================
     BACKGROUND / SURFACE
     ===================================================== */

  --color-background: #0f0f10;
  --color-background-high: #171717;
  --color-surface-main: #1b1b1c;
  --color-surface-high: rgb(38, 38, 41);
  --color-surface-inverse: #ffffff;

  /* =====================================================
     TEXT
     ===================================================== */

  --color-text-headings: rgba(255, 255, 255, 0.94);
  --color-text-body-high: rgba(255, 255, 255, 0.8);
  --color-text-body: rgba(255, 255, 255, 0.7);
  --color-text-body-low: rgba(255, 255, 255, 0.55);
  --color-text-disabled: rgba(255, 255, 255, 0.42);

  /* =====================================================
     STATES
     ===================================================== */

  --color-success-main: #66bb6a;
  --color-on-success: #000000;

  --color-error-main: #ef5350;
  --color-on-error: #000000;

  /* =====================================================
     BORDER / DIVIDER
     ===================================================== */

  --color-divider: rgba(255, 255, 255, 0.1);
  --color-border-main: rgba(255, 255, 255, 0.25);
  --color-border-low: rgba(255, 255, 255, 0.15);
  --color-border-high: rgba(255, 255, 255, 0.5);
}

#app {
  min-height: 100vh;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar) transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  scrollbar-color: var(--color-scrollbar);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
  border-radius: 8px;
  transition: background-color var(--transition-duration-fast);
}
*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scrollbar-hover);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--color-surface-high) inset !important;
  -webkit-text-fill-color: var(--color-text-body-high) !important;
  border: 1px solid var(--color-border-high) !important;
}
